* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #061111;
    font-size: 26px;
	text-align: center;
}

h1,
h3,
h4,
h5,
h6,
label {
    color: #397bbd;
	align-content: center;
	text-align: center;
	
}

h2 {
	color: #397bbd;
	text-align: left;
	font-size: 26px;
}

